#login {
    background-color: #344A5F;
    height: 100vh;
    .login-wrap {
        width: 330px;
        margin: 0 auto;
        .menu-tab {
            text-align: center;
            li {
                margin-top: 100px;
                display: inline-block;
                width: 88px;
                line-height: 36px;
                font-size: 14px;
                color: #fff;
                border-radius: 2px;
                cursor: pointer;
                &.active {
                    background-color: #2F4255;
                }
            }
        }
    }
    .form-submit {
        margin-top: 25px;
    }
}
